<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Update Food Information</h1>    
    <form action="/users/<%= user._id %>/foods/<%= food %>/edit?_method=PUT" method="POST">
    <div class="newData">
      <label for="name"></label>
        <input type="text" id="name" name="name" required>
    </div>
    <button type="submit">Update Food</button>
    </form>

</body>
</html>